.gradle/
build/
run/
*.iml
.idea/
.vscode/
libs/
!libs/README.md

# Forge MDK templates
CREDITS.txt
LICENSE.txt
README.txt
changelog.txt

# Local dev environment notes
DEVENV.md

# Local JDK path
gradle.properties
